{{ $item := .item }}
{{ $index := .index }}
{{ $link := $item.RelPermalink }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
  {{ $summary = $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

<div class="card col-4 repo">
  <div class="card-text">
    <h3 style="margin-top: unset;">
		<a href="{{ $link }}">{{ $item.Title | markdownify | emojify }}</a>
		<a href="https://github.com/{{ $item.Params.github_repo }}"><i style="float:inline-end" class="fab fa-github"></i></a>
 	</h3>
	{{ $icon := $item.Params.icon }}
	{{ $pack := or $item.Params.icon_pack "fas" }}
  	{{ $pack_prefix := $pack }}
	{{ if in (slice "fab" "fas" "far" "fal") $pack }}
    	{{ $pack_prefix = "fa" }}
  	{{ end }}
	{{ with $icon }}
	<div class="featurette-icon">
		{{- if eq $pack "emoji" -}}
		  {{- . | emojify -}}
		{{- else if eq $pack "custom" -}}
		  {{- $svg_icon := resources.Get (printf "media/icons/%s.svg" .) -}}
		  {{- if $svg_icon -}}<img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline" loading="lazy" style="float: right;">{{- end -}}
		{{- else -}}
	<i style="float: right" class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
	{{- end -}}
    </div>
	{{ end }}
    <p class="section-subheading">Author: <a href="https://github.com/{{ $item.Params.github_user }}">{{ $item.Params.author | markdownify | emojify }}</a>
	</p>

    {{ with $summary }}
    <div class="article-style">
      <p>{{ . }}</p>
    </div>
    {{ end }}

  </div>
</div>
