{{/* Pages Widget */}}
{{/* https://wowchemy.com/docs/widget/ */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}

{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_count := $st.Params.content.count }}
{{ if eq $items_count 0 }}
  {{ $items_count = 65535 }}
{{ else }}
  {{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := $st.Params.content.order | default "desc" }}

{{/* Query */}}
{{ $query := site.RegularPages }}
{{ $archive_page := "" }}

{{/* Filters */}}
{{ if $st.Params.content.page_type }}
  {{ $query = where $query "Type" $st.Params.content.page_type }}
  {{ $archive_page = site.GetPage "Section" $st.Params.content.page_type }}
{{ end }}
{{ if $st.Params.content.filters.folders }}
  {{ $folders := $st.Params.content.filters.folders }}
  {{ $query = where $query "Section" "in" $folders }}
  {{/* Init archive page to main folder */}}
  {{ $main_folder := index $folders 0 }}
  {{ $archive_page = site.GetPage "Section" $main_folder }}
{{ end }}
{{ if $st.Params.content.filters.tag }}
  {{ $archive_page = site.GetPage (printf "tags/%s" (urlize $st.Params.content.filters.tag)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $st.Params.content.filters.category }}
  {{ $archive_page = site.GetPage (printf "categories/%s" (urlize $st.Params.content.filters.category)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $st.Params.content.filters.publication_type }}
  {{ $archive_page = site.GetPage (printf "publication_types/%s" $st.Params.content.filters.publication_type) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $st.Params.content.filters.author }}
  {{ $archive_page = site.GetPage (printf "authors/%s" (urlize $st.Params.content.filters.author)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $st.Params.content.filters.exclude_featured }}
  {{ $query = where $query "Params.featured" "!=" true }}
{{ end }}
{{ if $st.Params.content.filters.exclude_past }}
  {{ $query = where $query "Date" ">=" now }}
{{ end }}
{{ if $st.Params.content.filters.exclude_future }}
  {{ $query = where $query "Date" "<" now }}
{{ end }}

{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Offset and Limit */}}
{{ if gt $items_offset 0 }}
  {{ $query = first $items_count (after $items_offset $query) }}
{{ else }}
  {{ $query = first $items_count $query }}
{{ end }}

<div class="section-heading col-12 mb-3 text-center">
    {{ with $st.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
</div>
<div class="container-fluid">
  {{ range $index, $item := $query }}
  	{{ if eq (mod $index 3) 0 }}<div class="row repo">{{ end }}
  	{{ partial "functions/render_view" (dict "page" $st "item" . "view" "repo" "index" $index) }}
  	{{ if eq (mod $index 3) 2 }}</div>{{ end }}
  {{end}}
</div>